# Dependencias
node_modules/
.pnp
.pnp.js

# Variables de entorno
.env
.env.local
.env.*.local

# Expo / React Native
.expo/
.expo-shared/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
build/
coverage/

# Sistema
.DS_Store
*.log

# Editor
.vscode/
.idea/

docs/INFORME_TECNICO_CONTRERAS.md